<div class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<app-header></app-header>

	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
				</div>
				<div class="pull-left info">
				  	<p>Christian Collignon</p>
				  	<a href="#"><i class="fas fa-circle text-success"></i> Connecté</a>
				</div>
			</div>
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
				  	<input type="text" name="q" class="form-control" placeholder="Recherche...">
				  	<span class="input-group-btn">
				        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fas fa-search"></i>
				        </button>
				    </span>
				</div>
			</form>
			<!-- /.search form -->

			<app-menu></app-menu>
			
		</section>
	<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <section class="content-header">
			<h1>
				Annuaire
			</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/login"><i class="fas fa-home"></i> Accueil</a></li>
				<li class="active">Annuaire</li>
			</ol>
	    </section>

	    <!-- Main content -->
	    <section class="content">

			<!-- Small boxes (Stat box) -->
			<div class="row">
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user1-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Megan Fox</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user3-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Patrick Adiko</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user4-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Fatima Beddar</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Christian Collignon</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Yacine Souadda</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user5-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Emily Ratajkowski</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user6-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Jessica Alba</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Monica Bellucci</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Monica Bellucci</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Monica Bellucci</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Monica Bellucci</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Monica Bellucci</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Christian Collignon</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Yacine Souadda</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user5-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Emily Ratajkowski</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user6-160x160.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Jessica Alba</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Monica Bellucci</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile directory__contact-frame">
                            <div class="profile-image col-md-3">
                                <img src="../../assets/dist/img/user7-128x128.jpg" class="img-circle" alt="Nadia Ali">
                            </div>
                            <div class="profile-data col-md-9">
                                <div class="profile-data-name directory__contact-label">Monica Bellucci</div>
                            </div>
                        </div>                                                           
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>                          
            </div>
			<!-- /.row -->

			<!-- Main row -->
			<div class="row">

			</div>
			<!-- /.row (main row) -->

	    </section>
	    <!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

		<app-footer></app-footer>

		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

</div>
