<div class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <app-header-teacher></app-header-teacher>

    <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>Christian Collignon</p>
            <a href="#"><i class="fas fa-circle text-success"></i> Connecté</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Recherche...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fas fa-search"></i>
                </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <app-menu-teacher></app-menu-teacher>

    </section>
  <!-- /.sidebar -->
  </aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>

    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class=""></i> Accueil</a></li>
      <li class="active">Ma classe</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="">
            <ul>
            <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <input type="checkbox" checked data-toggle="toggle">

                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    <li><a href="#">Moyenne <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Dernière notes <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Note de devoirs <span class="pull-right badge bg-green">12</span></a></li>
                    <li><button type="button" class="btn btn-block btn-primary">consulter</button></li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>


            </ul>

        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>

<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


</div>
