<div class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <app-header-teacher></app-header-teacher>

    <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>Christian Collignon</p>
            <a href="#"><i class="fas fa-circle text-success"></i> Connecté</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Recherche...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fas fa-search"></i>
                </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <app-menu-teacher></app-menu-teacher>

    </section>
  <!-- /.sidebar -->
  </aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Profils Professeur
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
      <li class="active">Profils Professeur</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="assets/dist/img/user2-160x160.jpg" alt="User profile picture">

            <h4 class="profile-username text-center">Christian Collignon</h4>
              <br>
            <p class="text-muted text-center"></p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                Nom de l'ecole <b class="pull-right">Ecole des Peupliers</b>
              </li>
              <li class="list-group-item">
                Nom de la classe <b class="pull-right">Les abeilles</b>
              </li>
              <li class="list-group-item">
                Niveau scolaire <b class="pull-right">CP</b>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Modifier</b></a>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#timeline" data-toggle="tab">Mon actualité</a></li>
            <li><a href="#activity" data-toggle="tab">Annuaire</a></li>
            <li><a href="#settings" data-toggle="tab">Mofifier mon compte</a></li>
          </ul>
          <div class="tab-content">
          <div class="active tab-pane" id="activity">
            <ul>
              <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 1-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user7-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <!--eleve 2-->
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user6-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user5-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom Prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>
              <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="assets/dist/img/user3-128x128.jpg" alt="User Avatar">
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Nom prenom</h3>
                  <h5 class="widget-user-desc">eleve@gmail.com</h5>
                </div>
                <div class="box-footer">
                  <div class="col-sm-6 border-right">
                    <button type="button" class="btn btn-block btn-warning">contacter</button>
                  </div>
                  <div class="col-sm-6 border-left">
                    <button type="button" class="btn btn-block btn-primary">modifier</button>
                  </div>
                </div>
              </div>
              <!-- /.widget-user -->
              </div>


            </ul>
          </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="timeline">
              <!-- The timeline -->
              <ul class="timeline timeline-inverse">
                <!-- timeline time label -->
                <li class="time-label">
                      <span class="bg-red">
                        10 Feb. 2014
                      </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-envelope bg-blue"></i>

                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                    <div class="timeline-body">
                      Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                      weebly ning heekya handango imeem plugg dopplr jibjab, movity
                      jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                      quora plaxo ideeli hulu weebly balihoo...
                    </div>
                    <div class="timeline-footer">
                      <a class="btn btn-primary btn-xs">Read more</a>
                      <a class="btn btn-danger btn-xs">Delete</a>
                    </div>
                  </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-user bg-aqua"></i>

                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                    </h3>
                  </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-comments bg-yellow"></i>

                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                    <div class="timeline-body">
                      Take me to your leader!
                      Switzerland is small and neutral!
                      We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                      <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                    </div>
                  </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline time label -->
                <li class="time-label">
                      <span class="bg-green">
                        3 Jan. 2014
                      </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-camera bg-purple"></i>

                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                    <div class="timeline-body">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                    </div>
                  </div>
                </li>
                <!-- END timeline item -->
                <li>
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="settings">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputphoto" class="col-sm-2 control-label">Photo</label>

                  <div class="col-sm-10">
                    <input type="file" id="exampleInputFile">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">Nom</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="nom">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputFamilyName" class="col-sm-2 control-label">Prénom</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFamilyName" placeholder="Prénom">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">Nom de l'établissement</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Etablissement">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">Adresse de l'établissement</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Adresse de l'établissement">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">Code Postal</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Code Postal">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputClasseName" class="col-sm-2 control-label">Nom de la classe</label>

                  <div class="col-sm-10">
                    <textarea class="form-control" id="inputClasseName" placeholder="Nom de la classe"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputLevelClass" class="col-sm-2 control-label">Niveau de la classe</label>
                    <div class="btn-group col-sm-10">
                      <button type="button" class="btn btn-default">Niveau</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">CP</a></li>
                        <li><a href="#">CE 1</a></li>
                        <li><a href="#">CE 2</a></li>
                        <li><a href="#">CM 1</a></li>
                        <li><a href="#">CM 2</a></li>
                      </ul>
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">Valider</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>

<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


</div>
