<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
	<li routerLinkActive="active" class="header">PROFESSEUR</li>
	<li routerLinkActive="active">
	    <a routerLink="/teacher-area">
	    	<i class="fa fa-tachometer-alt"></i>&nbsp;&nbsp;<span>Tableau de bord</span>
	    </a>
	</li>
	<li routerLinkActive="active">
	  	<a routerLink="/profile-teacher">
	    	<i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;<span>Profil</span>
	  	</a>
	</li>
  <li class="treeview" >
		<a>
	  	<i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;<span>Classe</span>
				<span class="pull-right-container">
      			<i class="fa fa-angle-left pull-right"></i>
    		</span>
	  </a>
			<ul class="treeview-menu">
				<li routerLinkActive="active"><a routerLink="/teacher-classe"><i class="fa fa-address-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;Consulter</a></li>
				<li routerLinkActive="active"><a routerLink="/teacher-classe-creation"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Créations</a></li>
			</ul>
	</li>
	<li class="treeview">
	  	<a>
	    	<i class="fa fa-envelope"></i>&nbsp;&nbsp;<span>Messagerie</span>
    		<span class="pull-right-container">
      			<i class="fa fa-angle-left pull-right"></i>
    		</span>
	  	</a>
		<ul class="treeview-menu">
			<li routerLinkActive="active"><a routerLink="/teacher-messagerie"><i class="fa fa-walking"></i>&nbsp;&nbsp;&nbsp;&nbsp;Consulter</a></li>
			<li routerLinkActive="active"><a href="#"><i class="fa fa-file-contract"></i>&nbsp;&nbsp;&nbsp;Ecrire</a></li>
			<li routerLinkActive="active"><a href="#"><i class="fa fa-clock"></i>&nbsp;&nbsp;Absences</a></li>
		</ul>
	</li>
	<li>
		<a routerLink="/cooperative">
			<i class="fa fa-btc"></i>&nbsp;&nbsp;<span>Coopérative classe</span>
		</a>
	</li>
	<li routerLinkActive="active" class="header">ELEVE</li>
	<li routerLinkActive="active">
		<a routerLink="/teacher-annuaire">
			<i class="fa fa-address-card"></i>&nbsp;&nbsp;<span>Annuaire</span>
		</a>
	</li>
	<li routerLinkActive="active">
		<a href="#">
			<i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<span>Calendrier</span>
			<span class="pull-right-container">
				<small class="label pull-right bg-red">3</small>
				<small class="label pull-right bg-blue">17</small>
			</span>
		</a>
	</li>
	<li routerLinkActive="active">
		<a routerLink="/textbook">
			<i class="fa fa-edit"></i>&nbsp;&nbsp;<span>Cahier de texte</span>
		</a>
	</li>
	<li routerLinkActive="active">
		<a href="pages/evaluation.html">
			<i class="fa fa-bone"></i>&nbsp;&nbsp;<span>Evaluation</span>
		</a>
	</li>
</ul>
