
    <section class="row">
      <div class="col-lg-6 inscription_right">


      </div>
      <div class="col-lg-6 inscription_left">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputphoto" class="col-sm-3 control-label">Photo</label>

              <div class="col-sm-9">
                <input type="file" id="exampleInputFile">
              </div>
            </div>
            <div class="form-group">
              <label for="inputName" class="col-sm-3 control-label">Nom*</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputName" placeholder="nom">
              </div>
            </div>
            <div class="form-group">
              <label for="inputFamilyName" class="col-sm-3 control-label">Prénom*</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputFamilyName" placeholder="Prénom">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-3 control-label">Email*</label>

              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputName" class="col-sm-3 control-label">Nom de l'établissement*</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputName" placeholder="Etablissement">
              </div>
            </div>
            <div class="form-group">
              <label for="inputStreet" class="col-sm-3 control-label">Adresse de l'établissement*</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputStreet" placeholder="Adresse">
              </div>
            </div>
            <div class="form-group">
              <label for="inputStreet" class="col-sm-3 control-label">Code Postal*</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputStreet" placeholder="Code Postal">
              </div>
            </div>
            <div class="form-group">
              <label for="inputStreet" class="col-sm-3 control-label">Ville*</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputStreet" placeholder="Ville">
              </div>
            </div>
            <div class="form-group">
              <label for="inputClasseName" class="col-sm-3 control-label">Nom de la classe*</label>

              <div class="col-sm-9">
                <input class="form-control" id="inputClasseName" placeholder="Nom de la classe"/>
              </div>
            </div>
            <div class="form-group">
              <label for="inputLevelClass" class="col-sm-3 control-label">Niveau de la classe*</label>
                <div class="btn-group col-sm-9">
                  <button type="button" class="btn btn-default">Niveau</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">CP</a></li>
                    <li><a href="#">CE 1</a></li>
                    <li><a href="#">CE 2</a></li>
                    <li><a href="#">CM 1</a></li>
                    <li><a href="#">CM 2</a></li>
                  </ul>
                </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> je confirme avoir pris connaissance des  <a href="#">conditions d'utilisation</a>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-danger"><a routerLink="/teacher-classe-creation">Valider</a></button>
                <a routerLink="/teacher-classe">Skip</a>
              </div>
            </div>
          </form>
        <div class="col-lg-2">

        </div>

      </div>


      </div>
    </section>
