<div class="col-md-4">
	<!-- Widget: user widget style 1 -->
	<div class="box box-widget widget-user-2">
	<!-- Add the bg color to the header using any of the bg-* classes -->
	<div class="widget-user-header bg-blue">
		<div class="widget-user-image">
			<img class="img-circle" [src]="student.picture" alt="User Avatar">
		</div>
		<!-- /.widget-user-image -->
		<h3 class="widget-user-username">{{student.firstname}} {{student.lastname}}</h3>
		<h5 class="widget-user-desc">{{student.email}}</h5>
	</div>
	<div class="box-footer">
		<div class="col-sm-6 border-right">
			<button type="button" class="btn btn-block btn-warning">contacter</button>
		</div>
		<div class="col-sm-6 border-left">
			<button type="button" class="btn btn-block btn-primary">modifier</button>
		</div>
	</div>
</div>